{% load static %}

<div class="container" id="about">
    <h2 class="font-weight-bold position-relative mb-4"><span>About Us</span> <span class="middle-line"
            style="left:160px;"></span></h2>
    <div class="about">
        <img src="{% static 'images/about/about-1.jpg' %}" alt="" class="d-inline-block">
        <img src="{% static 'images/about/about-2.jpg' %}" alt="" class="d-inline-block">
    </div>
    <p class="desc-text">When it comes to gadgets and gizmos, we love all things tech. one thing that you should not do
        is confuse our passion for snobbery. We fix all electronic devices such as phones, tablets, PCs and even your
        gaming consoles. Whether you accidently dropped your iPhone from your pocket while boarding the bus or a train
        or your tablet took a painful journey in the toilet, you should not worry. We know exactly how it feels and can
        understand the traumatic experience you might be going through when you see your precious device being broken.
    </p>
</div>