<div class="container" id="contact">
    <div class="contact-container">
        <h2 class="font-weight-bold position-relative mb-4"><span>Contact Us</span> <span class="middle-line"
                style="left:180px;"></span></h2>
        <div class="row">
            <div class="col-lg-8 mb-3">
                <iframe title="Our Location"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82003.56234796678!2d36.15186130216945!3d50.03737847556667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a6b41503b9eb%3A0xa6317642c7256476!2sShevchenkivs&#39;kyi%20District%2C%20Kharkiv%2C%20Kharkiv%20Oblast%2C%20Ukraine%2C%2061000!5e0!3m2!1sen!2sin!4v1595864536324!5m2!1sen!2sin"
                    style='max-width:100%;border:0;' width="800" height="332" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="contact-box">
                    <div class="contact-row">
                        <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="desc-text">
                            <p class="font-weight-bold mb-0">MobiCarez inc.</p>
                            Shevchenkivs'kyi District
                            Kharkiv, Kharkiv Oblast<br>
                            Ukraine, 61000
                        </div>
                    </div>
                    <div class="contact-row">
                        <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="desc-text">
                            1-888-123-4567
                        </div>
                    </div>
                    <div class="contact-row">
                        <div><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="desc-text">
                            info@mobicarez.com
                        </div>
                    </div>
                    <div class="contact-row">
                        <div><i class="fa fa-globe" aria-hidden="true"></i></div>
                        <div class="desc-text">
                            www.mobicarez.com
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>