<div class="container">
    <h2 class="font-weight-bold position-relative"><span>FAQ</span> <span class="middle-line"></span></h2>
    <div class="faq-box">
        <div class="faq-outer " tabindex=0>
            <div class="faq-element">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                HOW TO MAKE TEXT BIGGER ON IPHONE

            </div>
            <div class="faq-content">
                Many mobile network companies lock mobile devices to their networks so that they cannot be accessed by
                any other cellular networks other than that of theirs. One cannot also use any free network sim cards in
                their phones if they have bought a phone that is locked with a particular mobile network to be able to
                use your locked.
            </div>
        </div>
        <div class="faq-outer " tabindex=0>
            <div class="faq-element">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                HOW TO MAKE TEXT BIGGER ON IPHONE

            </div>
            <div class="faq-content">
                Many mobile network companies lock mobile devices to their networks so that they cannot be accessed by
                any other cellular networks other than that of theirs. One cannot also use any free network sim cards in
                their phones if they have bought a phone that is locked with a particular mobile network to be able to
                use your locked.
            </div>
        </div>

    </div>
    
</div>