{% load static %}
<div class="container">
    <h2 class="font-weight-bold position-relative mb-4"><span>Gallery Before - After</span> <span class="middle-line"
            style="left:330px;"></span></h2>
    <div class="row gallery">
        <div class="col-lg-3">
            <div>
                <img src="{% static 'images/gallery/before-1.jpg' %}" alt="">
                <img src="{% static 'images/gallery/after-1.jpg' %}" alt="">
            </div>
            <div class="font-weight-bold py-3">BANDROID 6S</div>
            <p class="desc-text">Screen on this phone was demolished. We have change the whole broken screen and replace
                it with new one.</p>
        </div>
        <div class="col-lg-3">
            <div>
                <img src="{% static 'images/gallery/before-2.jpg' %}" alt="">
                <img src="{% static 'images/gallery/after-2.jpg' %}" alt="">
            </div>
            <div class="font-weight-bold py-3">SEMSON GALAXY S3</div>
            <p class="desc-text">Screen on this phone was demolished. We have change the whole broken screen and replace
                it with new one.</p>
        </div>
        <div class="col-lg-3">
            <div>
                <img src="{% static 'images/gallery/before-3.jpg' %}" alt="">
                <img src="{% static 'images/gallery/after-3.jpg' %}" alt="">
            </div>
            <div class="font-weight-bold py-3">MINGLE FIRE TOUCH</div>
            <p class="desc-text">Screen on this phone was demolished. We have change the whole broken screen and replace
                it with new one.</p>
        </div>
        <div class="col-lg-3">
            <div>
                <img src="{% static 'images/gallery/before-4.jpg' %}" alt="">
                <img src="{% static 'images/gallery/after-4.jpg' %}" alt="">
            </div>
            <div class="font-weight-bold py-3">BANDROID RAPTOR 2</div>
            <p class="desc-text">Screen on this phone was demolished. We have change the whole broken screen and replace
                it with new one.</p>
        </div>
    </div>
</div>